$bgDefault      : #58a14b;
$bgHighlight    : #77c751;
$colDefault     : #d7e8cf;
$colHighlight   : #dfffdb;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  height: 65px;
  padding-top:7px;
  .navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 250%;
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

body {
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  background-image: url('upfeathers.png');
}

h1 {
  font-weight: bold;
}

h2 a {
  color: #58a14b;
}

img {
  height: 300px;
  width: 300px;
}

h2 .image {
  height: 300px;
  width: 275px;
}

.index-list {
  height: 800px;
  background-color: #d7e8cf;
}

.show-list {
  height: 800px;
  background-color: #d7e8cf;
}

.container {
  padding-top: 20px;
  padding-bottom: 25px;
}