// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $main-color: red;

// h1 {
//   color: $main-color;
// }
body {
  font-family: Copperplate,"Copperplate Gothic Light",fantasy;
  background-image: url('asanoha-400px.png');
}

h2 a {
  color: #060;
}

.index-list {
  height: 500px;
  background-color: rgba(50,50,0,0.1)
}